<div class="row">
	<div class="distance" style="margin-left: 50px">
			<div class="row">
				<h4>Palette 2</h4>
				<p>Connection Status: <span id="connection-state-msg" class="text-muted" data-bind="text: connectionStateMsg"></span></p>
				<div style="margin-top: 20px">
					<div class="serial-ports">
						<h6 data-bind="click: displayPorts">Manually Select Port</h6>
						<select class="serial-ports-list" data-bind="options: ports, value: selectedPort, disable: connected"></select>
					</div>
					<div class="p2-connect-buttons">
						<button class="btn btn-primary connect-palette-button" data-bind="text: connectPaletteText, click: connectOmega, disable: connected"></button>
						<button type="button" class="btn btn-primary" data-bind="text: disconnectPaletteText, click: disconnectPalette2, enable: connected"></button>
					</div>
				</div>
			</div>
			<hr>
			<div class="row palette-status">
				<h4 class="palette-status-title">Status</h4>
				<h5 class="current-status" data-bind="text: currentStatus"></h5>
				<ul class="status-container">
					<li class="single-status splice-amount">
						<h5 class="single-status-title">Current Splice: </h5>
						<span class="single-status-value current-splice" data-bind="text: currentSplice"></span>
						<span class="single-status-value total-splices" data-bind="text: totalSplicesDisplay"></span>
					</li>
					<li class="single-status filament-used">
						<h5 class="single-status-title">Filament Used: </h5>
						<span class="single-status-value" data-bind="text: filaLengthDisplay"></span>
					</li>
					<li class="single-status pings-container">
						<div class="ping-overview" data-bind="click: togglePingHistory">
							<h5 class="single-status-title">Latest Ping: </h5>
							<p class="current-ping">
								Ping
								<span class="single-status-value" data-bind="text: latestPing"></span>
							</p>
							<span class="separator">---</span>
							<p class="current-ping-percentage">
								<span class="single-status-value" data-bind="text: latestPingPercent"></span>%
							</p>
						</div>
						<ul class="ping-history" data-bind="foreach: pings">
							<li class="single-ping">
								<p class="ping-number">
									Ping
									<span data-bind="text: number"></span>
								</p>
								<p class="ping-percent"><span class="ping-percent" data-bind="text: percent"></span>%</p>
							</li>
						</ul>
					</li>
					<li class="single-status pongs-container">
						<div class="pong-overview" data-bind="click: togglePongHistory">
							<h5 class="single-status-title">Latest Pong: </h5>
							<p class="current-pong">
								Pong
								<span class="single-status-value" data-bind="text: latestPong"></span>
							</p>
							<span class="separator">---</span>
							<p class="current-pong-percentage">
								<span class="single-status-value" data-bind="text: latestPongPercent"></span>%
							</p>
						</div>
						<ul class="pong-history" data-bind="foreach: pongs">
							<li class="single-pong">
								<p class="ping-number">
									Pong
									<span data-bind="text: number"></span>
								</p>
								<p class="ping-percent"><span class="pong-percent" data-bind="text: percent"></span>%</p>
							</li>
						</ul>
					</li>
				</ul>
			</div>
			<hr>
			<div class="row" style="margin-bottom: 10px">
				<h4 class="manual-controls">Manual Controls</h4>
				<button type="button" class="btn btn-primary" data-bind="click: sendCutCmd, enable: connected">Cut</button>
				<button type="button" class="btn btn-primary" data-bind="click: sendClearOutCmd, enable: connected">Clear Palette</button>
			</div>
	</div>
</div>
