<div>
  <h4>Palette 2 Settings</h4>
  <div class="checkbox theme-input-label">
    <label>
      <span>Auto-Reconnect To Palette 2</span>
      <input class="autoconnect-input" type="checkbox" data-bind="checked: settings.plugins.palette2.autoconnect">
    </label>
    <label>
      <span>Display Palette 2 Setup Alerts</span>
      <input class="alert-input" type="checkbox" data-bind="checked: settings.plugins.palette2.palette2Alerts">
    </label>
  </div>
</div>